mixin range(label, min, max, step, value, feature, property, enabled)
  .form-group
    label.control-label.col-md-3= label
    .col-md-9
      input.m-slider.form-control(
        type='text'
        data-slider-min=min
        data-slider-max=max
        data-slider-step=step
        data-slider-value=value[property]
        data-property=property
        data-feature=feature
        data-slider-enabled=enabled)

mixin color(label, value, feature, property, enabled, colorby, rampKey)
  .form-group
    label.control-label.col-md-3= label
    .col-md-4
      select.form-control(
        data-feature=feature
        data-property=colorby)
        option(selected= !value[colorby]) Constant
        each obj, key in summary
          - var s = value[colorby] === key
          option(selected=s) #{key}
    .col-md-5
      if value[colorby]
        select.form-control.m-select-ramp(
          disabled=!enabled
          data-feature=feature
          data-property=rampKey)
          each ramp, name in ramps
            - s = value[rampKey] === name
            option(data-content!=ramp.display data-ramp-name=name selected=s) #{name}
      else
        input.form-control(
          type='color'
          value=value[property]
          disabled=!enabled
          data-feature=feature
          data-property=property)

ul.nav.nav-tabs
  li(role='presentation' class={active: tabs.point.active, disabled: !tabs.point.enabled})
    a.m-style-tab(role='tab' data-toggle='tab' data-target='#m-point-style' data-tab='point') Points
  li(role='presentation' class={active: tabs.line.active, disabled: !tabs.line.enabled})
    a.m-style-tab(role='tab' data-toggle='tab' data-target='#m-line-style' data-tab='line') Lines
  li(role='presentation' class={active: tabs.polygon.active, disabled: !tabs.polygon.enabled})
    a.m-style-tab(role='tab' data-toggle='tab' data-target='#m-polygon-style' data-tab='polygon') Polygons
#m-style-tab-content.tab-content.clearfix
  - var active = tabs.point.active;
  #m-point-style.form-horizontal.tab-pane(role='tabpanel' class={active: active, in: active})
    .panel.panel-primary
      .panel-heading(data-toggle='collapse' data-target='#m-point-properties-control') Properties
      #m-point-properties-control.collapse.in
        .panel-body
          .form-group
            label.control-label.col-md-3 Shape
            .col-md-9
              select.form-control
                option(selected=true) Circle
          +range('Size', 0, 20, 0.1, point, 'point', 'radius', true)

    .panel(class={'panel-default': !point.stroke, 'panel-primary': point.stroke})
      .panel-heading(data-target='#m-point-stroke-control')
        .checkbox(style='display:inline')
          label
            input#m-enable-point-stroke.m-toggle-panel(type='checkbox' checked=point.stroke data-feature='point' data-property='stroke')
            | Stroke
      #m-point-stroke-control.m-optional-panel.collapse(class={in: point.stroke})
        .panel-body
          +range('Width', 0, 5, 0.1, point, 'point', 'strokeWidth', point.stroke)
          +color('Color', point, 'point', 'strokeColor', point.stroke, 'strokeColorKey', 'strokeRamp')
          +range('Opacity', 0, 1, 0.01, point, 'point', 'strokeOpacity', point.stroke)

    .panel(class={'panel-default': !point.fill, 'panel-primary': point.fill})
      .panel-heading(data-target='#m-point-fill-control')
        .checkbox(style='display:inline')
          label
            input#m-enable-point-fill.m-toggle-panel(type='checkbox' checked=point.fill data-feature='point' data-property='fill')
            | Fill
      #m-point-fill-control.m-optional-panel.collapse(class={in: point.fill})
        .panel-body
          +color('Color', point, 'point', 'fillColor', point.fill, 'fillColorKey', 'fillRamp')
          +range('Opacity', 0, 1, 0.01, point, 'point', 'fillOpacity', point.fill)

  - active = tabs.line.active;
  #m-line-style.form-horizontal.tab-pane(role='tabpanel' class={active: active, in: active})
    .panel(class={'panel-default': !line.stroke, 'panel-primary': line.stroke})
      .panel-heading(data-target='#m-line-stroke-control')
        .checkbox(style='display:inline')
          label
            input#m-enable-line-stroke.m-toggle-panel(type='checkbox' checked=line.stroke data-feature='line' data-property='stroke')
            | Stroke
      #m-line-stroke-control.m-optional-panel.collapse(class={in: line.stroke})
        .panel-body
          +range('Width', 0, 5, 0.1, line, 'line', 'strokeWidth', line.stroke)
          +color('Color', line, 'line', 'strokeColor', line.stroke, 'strokeColorKey', 'strokeRamp')
          +range('Opacity', 0, 1, 0.01, line, 'line', 'strokeOpacity', line.stroke)

  - active = tabs.polygon.active
  #m-polygon-style.form-horizontal.tab-pane(role='tabpanel' class={active: active, in: active})
    .panel(class={'panel-default': !polygon.stroke, 'panel-primary': polygon.stroke})
      .panel-heading(data-target='#m-polygon-stroke-control')
        .checkbox(style='display:inline')
          label
            input#m-enable-polygon-stroke.m-toggle-panel(type='checkbox' checked=polygon.stroke data-feature='polygon' data-property='stroke')
            | Stroke
      #m-polygon-stroke-control.m-optional-panel.collapse(class={in: polygon.stroke})
        .panel-body
          +range('Width', 0, 5, 0.1, polygon, 'polygon', 'strokeWidth', polygon.stroke)
          +color('Color', polygon, 'polygon', 'strokeColor', polygon.stroke, 'strokeColorKey', 'strokeRamp')
          +range('Opacity', 0, 1, 0.01, polygon, 'polygon', 'strokeOpacity', polygon.stroke)

    .panel(class={'panel-default': !polygon.fill, 'panel-primary': polygon.fill})
      .panel-heading(data-target='#m-polygon-fill-control')
        .checkbox(style='display:inline')
          label
            input#m-enable-polygon-fill.m-toggle-panel(type='checkbox' checked=polygon.fill data-feature='polygon' data-property='fill')
            | Fill
      #m-polygon-fill-control.m-optional-panel.collapse(class={in: polygon.fill})
        .panel-body
          +color('Color', polygon, 'polygon', 'fillColor', polygon.fill, 'fillColorKey', 'fillRamp')
          +range('Opacity', 0, 1, 0.01, polygon, 'polygon', 'fillOpacity', polygon.fill)
