mixin styleByDropdown(label, opts)
  - var selected;
  - var forid = label + '-style-by';
  - opts.scale = opts.scale || 'constant';
  label.col-sm-2.control-label(for=forid) #{label}
  .col-sm-4
    select.form-control.m-style-by(id=forid)
      - selected = opts.scale === 'constant'
      option(value='constant' selected=selected) constant value
      if opts.values
        - selected = opts.scale === 'categorical'
        option(value='category' selected=selected) categorical scale
      if opts.min < opts.max
        - selected = opts.scale === 'continuous'
        option(value='continuous' selected=selected) continuous scale

mixin numericSelection(opts)
  if opts.scale === 'constant'
    .col-sm-4
      input.form-control.m-constant-value(
        type='number' min=1 value=opts.value)
  else
    .col-sm-4
      select.form-control.m-categorical-field
        each val in opts.fields
          option(value=val selected=val === opts.field) =val

mixin colorSelection(opts)
  if opts.scale === 'constant'
    .col-sm-4
      input.form-control.m-constant-value(
        type='color' value=opts.value)
  else
    .col-sm-4
      select.form-control.m-categorical-field
        each val in opts.fields
          option(value=val selected=val === opts.field) =val


