.form-group
  .checkbox.m-add-layers-checkbox
    label(class=checked ? 'm-disable-text' : '')
      input.m-add-layers(type="checkbox", name="#{layer.layer_title}" typeName="#{layer.layer_type}", checked=checked, disabled=checked)
      i.icon-layers.m-add-layers-type-icon
      | #{layer.layer_title}
