.modal-dialog
  .modal-content
    form#m-wms-style-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title
          | Style Wms Vector
      .modal-body
        .row
          .col-md-4
            .form-group
              label.control-label(for="m-attribute") Attribute
              select.form-control#m-attribute
                each attribute in attributes
                  option(value= attribute)= attribute
          .col-md-8
            .form-group
              label.control-label(for="m-color-ramp") Color Ramp
              select.form-control#m-color-ramp.m-select-ramp(
                data-feature=feature
                data-property=rampKey)
                each ramp, name in ramps
                  option(data-content!=ramp.display data-ramp-name=name) #{name}
      .modal-footer
        button.btn.btn-small.btn-primary
          i.icon-plus-squared
          | Save Style
        a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
