.modal-dialog
    .modal-content
        form#m-table-mapping-form.modal-form(role="form")
            .modal-header
                button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
                h4.modal-title
                    if (create)
                        | Create column mapping
                    else
                        | Update column mapping
            .modal-body
                .form-group
                    label.control-label(for="m-latitude-mapper") Latitude (Y)
                    select#m-latitude-mapper.form-control.input-sm
                        each colname, i in colnames
                            - var sel = (!create && (i == latitudeColumn)) ? 'selected' : null
                            option(value=i, selected=sel) #{colname.title}
                 .form-group
                    label.control-label(for="m-longitude-mapper") Longitude (X)
                    select#m-longitude-mapper.form-control.input-sm
                        each colname, i in colnames
                            - var sel = (!create && (i == longitudeColumn)) ? 'selected' : null
                            option(value=i, selected=sel) #{colname.title}
                  //.form-group
                  //    label.control-label(for="m-firstrow-headers") Use first row as column headers
                  //    input#m-firstrow-headers.form-control.input-sm(type="checkbox")
                .g-validation-failed-message
            .tableDataContainer
                .tableDataContainerHeader
                    h4.modal-title
                        | Data Preview
                        i.icon-down-open.show-table-preview
                        i.icon-up-open.hide-table-preview
                table#data.display
            .modal-footer
                a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
                button.m-save-table-mapping.btn.btn-small.btn-primary(type="submit")
                    if (create)
                        i.icon-plus-squared
                        | Create
                    else
                        i.icon-plus-squared
                        | Save
