include ../layout/panelMixins.pug

+panel-title('Datasets', 'm-data-panel')

if sourceCategoryDataset
  +panel-content('collapse in')
    - var selectionCount = selectedDatasetsId.size;
    .action-bar
      .pull-left
        button.icon-button.m-upload-local(title="Upload local dataset")
          i.m-icon-enabled.icon-upload
        button.icon-button.m-postgres(title="Create postgres dataset")
          i.m-icon-enabled.icon-database
        button.icon-button.m-wms2(title="Add wms tile layer")
          i.m-icon-enabled.icon-inbox
        button.icon-button.m-boundary-dataset(title="Draw a boundary dataset", class=drawing?'active':'')
          i.m-icon-enabled.icon-pencil
        ||
        button.icon-button.toggle-shared(title=showSharedDatasets?'Hide shared datasets':'Show shared datasets')
          i.icon-user(class=showSharedDatasets?'':'icon-disabled')
        if showingBounds
          ||
          button.icon-button.toggle-bounds-label(title='Toggle boundaries label')
            i.icon-font
          button.icon-button.remove-bounds(title='Remove dataset boundaries')
            i.icon-trash
        if !_.isEmpty(filters)
          ||
          button.icon-button.clear-filters(title='Stop filtering')
            i.icon-cancel
      | &nbsp;
      if selectionCount
        .pull-right
          button.icon-button.show-bounds(title='Show boundaries of selected datasets')
            i.icon-search
          button.icon-button.share(title='Share/Unshare selected datasets', disabled=!sharableSelectedDatasets().length)
            i.icon-share
          if selectionCount === 1 && selectionGetBoundSupported()
            button.icon-button.intersect-filter(title='Show datasets that have boundaries overlap with selected dataset boundary')
              i.icon-filter
          .dropdown.dropdown-icon-button
            button#gaiaProcessMenu.dropdown-toggle.icon-button.gaia-process(data-toggle='dropdown', title='Apply Process to selected datasets')
              i.icon-cog-alt
            ul.dropdown-menu(aria-labelledby="gaiaProcessMenu")
              each process, index in gaiaProcesses
                li(data-index=index)
                  a= process.title
          if selectionCount > 1
            button.icon-button.add-to-session(title='Add selected datasets to session')
              i.icon-globe
            button.icon-button.delete(title='Delete selected datasets', disabled=!deletableSelectedDatasets().length)
              i.icon-trash
    .search-bar
      input(type='text', placeholder='Name regexp', value=nameFilterKeyword)
    each categories, source in sourceCategoryDataset
      .source-title.clearfix(id=source)= source
        - var expand = visibleMenus[source]
        i.icon-faded(title='Collection', class=expand?'icon-folder-open':'icon-folder')
      .m-sub-category(data-source=source, style={display:expand?'block':'none'})
        each datasets, category in categories
          .category-title.clearfix(id=category, data-source=source, data-category=category)
            .pull-left
              .category-checkbox.checkbox-container(class=selectionCount?'show-checkbox':'')
                - expand = visibleMenus[source] && visibleMenus[source][category]
                i.icon-faded(title='Collection', class=expand?'icon-folder-open':'icon-folder')
                input(type='checkbox', checked=allChecked(datasets.map((dataset)=>dataset.get('_id'))))
            .text= category
          .m-datasets(data-category=category, style={display:expand?'block':'none'})
            each dataset in datasets
              if dataset.metadata()
                - var attributes = {'m-dataset-id': dataset.get('_id')}
                .dataset.clearfix&attributes(attributes)
                  .pull-left
                    .dataset-checkbox.checkbox-container(class=selectionCount?'show-checkbox':'')
                      if dataset.get('creatorId')===currentUser.id 
                        if dataset.get('folderId') === collection.folderId
                          i.icon-doc.icon-faded
                        else
                          i.icon-share.icon-faded
                      else 
                        i.icon-user.icon-faded
                      input(type='checkbox', checked=selectedDatasetsId.has(dataset.get('_id')))&attributes(attributes)

                  .m-name(title=dataset.get('name'))= dataset.get('name')
                  .pull-right
                    //- Globe icon to move dataset into current session
                    if dataset.isGeoRenderable()
                      if dataset.get('displayed')
                        i.icon-enabled.icon-cancel-circled2.remove_dataset-from-session(title='Remove from layers')&attributes(attributes)
                      else
                        i.icon-enabled.icon-globe.add-dataset-to-session(title='Add to layers')&attributes(attributes)
                    if currentUser.id === dataset.get('creatorId')
                      //- Trash icon to delete dataset
                      - var classes = (dataset.get('displayed') ? 'icon-trash delete-dataset icon-disabled' : 'icon-trash delete-dataset icon-enabled')
                      i(title='Delete dataset', class=classes)&attributes(attributes)

                    //- Info icon for minerva metadata display
                    i.icon-info-circled.icon-enabled.dataset-info(title='Dataset Info')&attributes(attributes)
                    - var geoRenderType = dataset.getGeoRenderType()
