include ../layout/panelMixins.jade

+panel-title('Available Layers', 'm-data-panel')

if datasets
  +panel-content('collapse in')
    .datasets
      #m-reference-title.dataset-subsection
        | Reference
      each dataset in datasets
        if dataset.metadata() && dataset.getDatasetType() === 'wfs'
          .dataset
            span(title=dataset.get('name'))= dataset.get('name').length > 22 ? dataset.get('name').slice(0,22) + "..." : dataset.get('name')
              - var attributes = {'m-dataset-id': dataset.get('_id')}

              i.icon-book

              - var classes = 'icon-download'
              i(class=classes)&attributes(attributes)

              //- Eye icon to move dataset into current session
              if dataset.isGeoRenderable()
                - var classes = (dataset.get('displayed') ? 'icon-eye icon-disabled dataset-in-session' : 'icon-eye icon-enabled add-dataset-to-session')
                i(class=classes)&attributes(attributes)
      if federatedSearch
        #m-federated-search-title.dataset-subsection
          | Geotagged Search Results
        each dataset in datasets
          if dataset.metadata() && dataset.getDatasetType() !== 'wfs'
            .dataset
              span(title=dataset.get('name'))= dataset.get('name').length > 22 ? dataset.get('name').slice(0,22) + "..." : dataset.get('name')
                - var attributes = {'m-dataset-id': dataset.get('_id')}

                i.icon-search

                - var classes = 'icon-download'
                i(class=classes)&attributes(attributes)

                //- Eye icon to move dataset into current session
                if dataset.isGeoRenderable()
                  - var classes = (dataset.get('displayed') ? 'icon-eye icon-disabled dataset-in-session' : 'icon-eye icon-enabled add-dataset-to-session')
                  i(class=classes)&attributes(attributes)
