include ../layout/panelMixins.pug

+panel-title('Datasets', 'm-data-panel')
  i.m-upload-local.m-icon-enabled.icon-upload(title="Upload local file")
  // uncomment this line to enable adding wms layer
  //- i.m-add-wms.m-icon-enabled.icon-upload(title="Add WMS dataset")
  i.m-postgres.m-icon-enabled.icon-database(title="Connect to postgres")

if sourceCategoryDataset
  +panel-content('collapse in')
  each categories, source in sourceCategoryDataset
    .source-title(id=source)= source
      - var expand = visibleMenus[source]
      i(title='Collection', class=expand?'icon-folder-open':'icon-folder')
    .m-sub-category(data-source=source, style={display:expand?'block':'none'})
      each datasets, category in categories
        - expand = visibleMenus[source] && visibleMenus[source][category]
        .category-title(id=category)= category
          i(title='Collection', class=expand?'icon-folder-open':'icon-folder')
        .m-datasets(data-category=category, style={display:expand?'block':'none'})
          each dataset in datasets
            if dataset.metadata()
              .dataset.clearfix
                - var attributes = {'m-dataset-id': dataset.get('_id')}
                
                .m-control-left
                  //- Globe icon to move dataset into current session
                  if dataset.isGeoRenderable()
                    if dataset.get('displayed')
                      i.icon-enabled.icon-cancel-circled2.remove_dataset-from-session(title='Remove from layers')&attributes(attributes)
                    else
                      i.icon-enabled.icon-globe.add-dataset-to-session(title='Add to layers')&attributes(attributes)

                .m-name(title=dataset.get('name'))= dataset.get('name')
                .m-control-right
                  //- Trash icon to delete dataset
                  - var classes = (dataset.get('displayed') ? 'icon-trash delete-dataset icon-disabled' : 'icon-trash delete-dataset icon-enabled')
                  i(title='Delete dataset', class=classes)&attributes(attributes)

                  //- Info icon for minerva metadata display
                  i.icon-info-circled.icon-enabled.dataset-info(title='Dataset Info')&attributes(attributes)
                  - var geoRenderType = dataset.getGeoRenderType()
