.dataPanelContainer
  .panelTitle
    | Available Datasets
  .loadData
     button.btn.btn-default.m-add-dataset-button(title="Add dataset")
       .icon-plus-squared
         | add dataset
  .savedDatasets
    .savedDatasetsTitle
    .savedDataList
        .datasets
            each dataset in datasets
                if dataset.getMinervaMetadata()
                    .dataset
                      span(title=dataset.get('name'))= dataset.get('name').length > 13 ? dataset.get('name').slice(0,13) + "..." : dataset.get('name')
                        - var attributes = {'m-dataset-id': dataset.get('_id')}
                        if dataset.isRenderable()
                            //- right arrow icon to move dataset into current session
                            - var classes = (dataset.get('displayed') ? 'icon-right-circled icon-disabled dataset-in-session' : 'icon-right-circled icon-enabled add-dataset-to-session')
                            i(class=classes)&attributes(attributes)
                        if dataset.isWmsSource()
                            //- list icon to open the list of WMS layers
                            - var classes = (dataset.get('displayed') ? 'icon-list icon-disabled dataset-in-session' : 'icon-list icon-enabled show-wms-layers-list')
                            i(class=classes)&attributes(attributes)
                        //- trash icon to delete dataset
                        - var classes = (dataset.get('displayed') ? 'icon-trash delete-dataset icon-disabled dataset-in-session' : 'icon-trash delete-dataset icon-enabled')
                        i(class=classes)&attributes(attributes)
                        //- info icon for minerva metadata display
                        i.icon-info-circled.icon-enabled.dataset-info&attributes(attributes)
                        if dataset.get('meta').minerva.original_type === 'csv' || dataset.get('meta').minerva.original_type === 'json' || dataset.get('meta').minerva.original_type === 'mongo'
                            //- table icon for mapping columns of csv/json
                            - var displayed = dataset.get('displayed')
                            if !displayed && (dataset.get('meta').minerva.original_type === 'json' || dataset.get('meta').minerva.original_type === 'mongo') && (!dataset.get('meta').minerva.json_row)
                                //- when there is no json data, disable the table icon, as if the dataset was displayed
                                - displayed = true
                            - var classes = (displayed ? 'icon-table csv-mapping icon-disabled dataset-in-session' : 'icon-table csv-mapping icon-enabled')
                            i(class=classes)&attributes(attributes)


                         //- icon for s3 menu
                        if dataset.get('meta').minerva.original_type === 's3'
                            i(class='icon-menu s3-bucket-menu icon-enabled')&attributes(attributes)
