include ../layout/panelMixins.jade

+panel-title('Datasets', 'm-data-panel')
  i.m-add-wms.m-icon-enabled.icon-upload(title="Add WMS dataset")
  i.m-upload-local.m-icon-enabled.icon-upload(title="Upload local file")

if sourceDatasetMapping
  +panel-content('collapse in')
    each source in sourceNames
      .source-title= source
      if visibleSourceGroups[source] == true
        - var val = "display: block;"
      else
        - var val = "display: none;"
      .dataset(style=val)
        each dataset in sourceDatasetMapping[source]
          if dataset.metadata()
            .dataset
              span(title=dataset.get('name'))= dataset.get('name').length > 13 ? dataset.get('name').slice(0,13) + "..." : dataset.get('name')
                - var attributes = {'m-dataset-id': dataset.get('_id')}

                //- Trash icon to delete dataset
                - var classes = (dataset.get('displayed') ? 'icon-trash delete-dataset icon-disabled dataset-in-session' : 'icon-trash delete-dataset icon-enabled')
                i(class=classes)&attributes(attributes)

                //- Info icon for minerva metadata display
                i.icon-info-circled.icon-enabled.dataset-info&attributes(attributes)
                - var geoRenderType = dataset.getGeoRenderType()

                //- Globe icon to move dataset into current session
                if dataset.isGeoRenderable()
                  - var classes = (dataset.get('displayed') ? 'icon-globe icon-disabled dataset-in-session' : 'icon-globe icon-enabled add-dataset-to-session')
                  i(title='add to layers', class=classes)&attributes(attributes)

                //- Cog icon for geo rendering configuration
                if geoRenderType !== null && geoRenderType !== 'wms'
                  - var classes = 'icon-cog m-configure-geo-render'
                  - classes += (dataset.get('displayed') ? ' icon-disabled dataset-in-session' : ' icon-enabled');
                  - classes += ((!dataset.get('displayed') && dataset.get('geoError')) ? ' m-geo-render-error' : '');
                  i(class=classes)&attributes(attributes)

                //- Table icon for csv
                if dataset.getDatasetType() === 'csv'
                  - var classes = 'icon-table m-display-dataset-table'
                  - classes += (dataset.get('displayed') ? ' icon-disabled dataset-in-session' : ' icon-enabled');
                  i(class=classes)&attributes(attributes)
